/* You can add global styles to this file, and also import other style files */

/*IMPORT BOOTSTRAP
 Do the basic responsive layout of the videos*/
@import '~bootstrap/dist/css/bootstrap.min.css';


h1 {
    position: relative; 
    top: 0; 
    width: 100%;
    padding: 1%;
    text-align: center;
    background-color: #6c757d;
    color: white;

}

.btn-group{
    margin-top: 3%;
    width: 100%;
}

#video_box{
    margin-top: 3%;
}

footer {
    position: relative; 
    bottom: 0; 
    width: 100%;
    padding: 2%;
    text-align: center;
    background-color: #6c757d;
    color: white;
}